<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="User Actions" verbose="1">
  <test name="Setup">
    <classes>
      <class name="Setup"></class>
    </classes>
    </test>
  <test name="Register User">
    <classes>
      <class name="RegisterUserTest"></class>
      <class name="RegisterUserFactory"></class>
    </classes>
  </test>
  <test name="Place Order">
    <classes>
      <class name="PlaceOrderTest"></class>
    </classes>
  </test>
</suite>